@model Nop.Plugin.Widgets.InfoPanel.Models.PublicInfoPanelModel
@{
    Layout = "";
}

<div class="Plugin-wrapper topic-block">
    <div class="topic-block-title">
        <h3>@Model.Text</h3>
    </div>
</div>
